pkgbase = hybrid-amd
	pkgver = 17.30.458935
	pkgrel = 1
	url = http://www.amd.com
	arch = x86_64
	license = custom:AMD
	makedepends = wget
	depends = libdrm-amd
	conflicts = amdgpocl
	source = https://www2.ati.com/drivers/linux/ubuntu/amdgpu-pro-17.30-458935.tar.xz
	sha256sums = 3652a5c9476a650a3e3cd89bcd7ac119ed7d16a570501eeeea6a902cbc6f9488

pkgname = opencl-amd
	pkgdesc = OpenCL userspace driver, AMD hybrid version
	depends = ocl-icd
	optdepends = opencl-headers: headers necessary for OpenCL development
	provides = opencl-driver
	conflicts = opencl-mesa

pkgname = vulkan-amd
	pkgdesc = Vulkan userspace driver, AMD hybrid version
	depends = vulkan-icd-loader
	optdepends = vulkan-devel: for Vulkan development
	provides = vulkan-driver
	conflicts = vulkan-radeon

